body {
  background: linear-gradient(-45deg, #eeeeee, #808080);
}
button {
  border-radius: 5px;
  border: none;
  background: linear-gradient(-45deg, #3d3b3b, #b8b2b2);
  color: white;
  padding: 8px 15px 8px 15px;
  font-style: bold;
}

button:hover {
  color: black;
  background: #808080;
}

nav {
  color: black;
  background-attachment: fixed;
  background-color: #eeeeee;
}
.loader {
  margin: 0 auto;
}
.avatar {
  border-radius: 100px;
  margin-bottom: 25px;
}
#main {
  padding: 14px 50px;
  margin: 0 auto;
  display: none;
}

.info {
  max-width: 300px;
  margin: 15px auto;
  text-align: center;
  font-family: bold;
  font-style: italic;
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(-45deg, #464545, #9b9796);
  border: 3px solid #535151;
  color: white;
}
.info:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  background: linear-gradient(-45deg, #4e4d4d, #ffffff);
  border: 5px solid #8a8888;
}
.name {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.email {
  font-family: sans-serif;
  font-size: 18px;
  overflow-wrap: break-word;
}
